<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.board.BoardMapper">

	<insert id="insertBoard">
	insert into board(b_num,id,subject,content,readcount,b_date) 
	values(#{b_num},#{id},#{subject},#{content},#{readcount},#{b_date})
	</insert>
	
	<select id="getMaxNum" resultType="java.lang.Integer">
		select max(b_num) from board
	</select>
	
	<select id="getBoardList" resultType="com.team.domain.BoardDTO">
		select * from board order by b_num desc limit #{startRow}, #{pageSize}
	</select>
	
	<select id="getBoardCount" resultType="java.lang.Integer">
		select count(*) from board
	</select>
	
	<select id="getBoard" resultType="com.team.domain.BoardDTO">
		select * from board where b_num=#{b_num}
	</select>
	
	<update id="updateBoard">
		update board set subject=#{subject}, content=#{content} where b_num=#{b_num}
	</update>
	
	<delete id="deleteBoard" parameterType="int">
		delete from board where b_num=#{b_num}
	</delete>
	
	<update id="updateReadcount">
		update board set readcount = readcount + 1 where b_num = #{b_num}
	</update>

	<select id="userCheck" resultType="com.team.domain.BoardDTO">
		select id from board where id = #{id}
	</select>
	
	<select id="getCommentList" resultType="com.team.domain.CommentDTO">
		select * from comment where b_num=#{b_num}
	</select>
</mapper>