<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.team.fieldMapper">

	<insert id="insertField">
		insert into field(f_name,district,f_address,terms,f_img,price) 
		values(#{f_name},#{district},#{f_address},#{terms},#{f_img},#{price})
	</insert>


</mapper>