<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.member.MemberMapper">

	<insert id="insertMember">
		INSERT INTO member(id, pass, name, phone, team, email, postcode, address, date) 
		VALUES(#{id}, #{pass}, #{name}, #{phone}, #{team}, #{email}, #{postcode}, #{address}, #{date})
	</insert>

	<select id="userCheck" resultType="com.team.domain.MemberDTO">
		SELECT * FROM member WHERE id=#{id} and pass=#{pass}
	</select>

	
	<select id="getMember" resultType="com.team.domain.MemberDTO">
		SELECT * FROM member WHERE id=#{id}
	</select>
	
	<update id="updateMember">
		UPDATE member SET name=#{name} WHERE id=#{id}
	</update>
	
	<delete id="deleteMember">
		DELETE FROM member WHERE id=#{id}
	</delete>
	
	<select id="getMemberList" resultType="com.team.domain.MemberDTO">
		SELECT * FROM member 
	</select>

</mapper>